In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\SAYALI PY\\sayali\\netflix_titles.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.shape

(8807, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [7]:
df1 = df.drop(["show_id","date_added","listed_in","description"],axis=1)

In [8]:
df1.head()

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons

In [9]:
# Indian movies released in year 2000

Indian_movies_2000 = df1[(df1['country'] == 'India') & (df1['release_year'] ==2000)]
Indian_movies_2000

,type,title,director,cast,country,release_year,rating,duration
4723,Movie,Fiza,Khalid Mohamed,"Karisma Kapoor, Jaya Bhaduri, Hrithik Roshan, ...",India,2000,TV-14,163 min
4956,Movie,Phir Bhi Dil Hai Hindustani,Aziz Mirza,"Shah Rukh Khan, Juhi Chawla, Paresh Rawal, Sat...",India,2000,TV-14,159 min
6440,Movie,Chal Mere Bhai,David Dhawan,"Sanjay Dutt, Salman Khan, Karisma Kapoor, Dali...",India,2000,TV-14,132 min
6912,Movie,Hamara Dil Aapke Paas Hai,Satish Kaushik,"Anil Kapoor, Aishwarya Rai Bachchan, Sonali Be...",India,2000,TV-14,158 min
7247,Movie,Kya Kehna,Kundan Shah,"Preity Zinta, Saif Ali Khan, Anupam Kher, Fari...",India,2000,TV-PG,149 min
7702,Movie,Papa the Great,Bhagyaraj,"Krishan Kumar, Nagma, Satya Prakash, Master Bo...",India,2000,TV-PG,137 min
7801,Movie,Pukar,Rajkumar Santoshi,"Anil Kapoor, Madhuri Dixit, Namrata Shirodkar,...",India,2000,TV-14,165 min

In [10]:
# top 5 directors who has directed more number of tv_shows or movies 

director_counts = df1["director"].value_counts()
director_counts.head()

Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
Name: director, dtype: int64

In [11]:
# cast of any particular movie

movie = "Kya Kehna"
cast_of_movie = df1.loc[df1['title'] == movie,"cast"]
cast_of_movie

7247    Preity Zinta, Saif Ali Khan, Anupam Kher, Fari...
Name: cast, dtype: object

In [12]:
df1['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [13]:
# how many movies & tv shows are in dataset

df1['type'].agg("count")

8807

In [14]:
# show only tittles of all tv shows that released in egypt

Egypt_TV_Shows = df1[(df1['type'] == 'TV SHOW') & (df1['country'] == 'Egypt')]
Egypt_TV_Shows.title

Series([], Name: title, dtype: object)

In [15]:
# In how many  movies and tv shows,duration was 100 minute

duration_100_mins = df1[df1["duration"] == "100 min"]
duration_100_mins.head()

,type,title,director,cast,country,release_year,rating,duration
54,Movie,InuYasha the Movie: Affections Touching Across...,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,2001,TV-PG,100 min
140,Movie,"El patrón, radiografía de un crimen",Sebastián Schindel,"Joaquín Furriel, Luis Ziembrowski, Guillermo P...","Argentina, Venezuela",2014,TV-MA,100 min
300,Movie,Vivo,"Kirk DeMicco, Brandon Jeffords","Lin-Manuel Miranda, Ynairaly Simo, Zoe Saldana...","Canada, United States",2021,PG,100 min
455,Movie,Emicida: AmarElo - Live in São Paulo,Fred Ouro Preto,Emicida,NaN,2021,TV-MA,100 min
461,Movie,The Unknown Saint,Alaa Eddine Aljem,"Younes Bouab, Salah Bensalah, Bouchaib Essamak...",NaN,2019,TV-14,100 min

In [16]:
duration_100_mins ["type"].agg("count")

108

In [17]:
# total number pf indian tv shows released in every year

Indian_released_TV_Shows = df1[(df1['type'] == "TV Show") & (df1['country'] =="India")]

Indian_released_TV_Shows

,type,title,director,cast,country,release_year,rating,duration
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons
39,TV Show,Chhota Bheem,NaN,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,2021,TV-Y7,3 Seasons
50,TV Show,Dharmakshetra,NaN,"Kashmira Irani, Chandan Anand, Dinesh Mehta, A...",India,2014,TV-PG,1 Season
66,TV Show,Raja Rasoi Aur Anya Kahaniyan,NaN,NaN,India,2014,TV-G,1 Season
69,TV Show,Stories by Rabindranath Tagore,NaN,NaN,India,2015,TV-PG,1 Season
...,...,...,...,...,...,...,...,...
8173,TV Show,Thackeray,NaN,NaN,India,2019,TV-MA,1 Season
8235,TV Show,The Calling,Bumpy,NaN,India,2018,TV-MA,1 Season
8321,TV Show,The Golden Years with Javed Akhtar,NaN,NaN,India,2016,TV-G,1 Season
8349,TV Show,The House That Made Me,NaN,Vinay Pathak,India,2015,TV-PG,3 Seasons
8775,TV Show,Yeh Meri Family,NaN,"Vishesh Bansal, Mona Singh, Akarsh Khurana, Ah...",India,2018,TV-PG,1 Season

In [18]:
Indian_released_TV_Shows.groupby('release_year')['release_year'].value_counts()

release_year  release_year
2009          2009             1
2010          2010             3
2011          2011             1
2012          2012             2
2013          2013             3
2014          2014             5
2015          2015             9
2016          2016             1
2017          2017             3
2018          2018            13
2019          2019            13
2020          2020            16
2021          2021             9
Name: release_year, dtype: int64

In [19]:
# number of tv shows and movies released every year world wide

World_Wide_released_TV_Shows = df1[['type','country','release_year']]
World_Wide_released_TV_Shows

         type        country  release_year
0       Movie  United States          2020
1     TV Show   South Africa          2021
2     TV Show            NaN          2021
3     TV Show            NaN          2021
4     TV Show          India          2021
...       ...            ...           ...
8802    Movie  United States          2007
8803  TV Show            NaN          2018
8804    Movie  United States          2009
8805    Movie  United States          2006
8806    Movie          India          2015

[8807 rows x 3 columns]

In [20]:
len(World_Wide_released_TV_Shows['release_year'].unique())

74

In [21]:
World_Wide_released_TV_Shows.groupby('release_year')['release_year'].value_counts()

release_year  release_year
1925          1925               1
1942          1942               2
1943          1943               3
1944          1944               3
1945          1945               4
                              ...
2017          2017            1032
2018          2018            1147
2019          2019            1030
2020          2020             953
2021          2021             592
Name: release_year, Length: 74, dtype: int64

In [22]:
df1['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [23]:
df1['rating'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8807 entries, 0 to 8806
Series name: rating
Non-Null Count  Dtype
--------------  -----
8803 non-null   object
dtypes: object(1)
memory usage: 68.9+ KB

In [24]:
# number of movies released in every rating category

movies_rating = df1[df1['type'] == "Movie"].groupby('rating')['rating'].value_counts()
movies_rating

rating    rating
66 min    66 min         1
74 min    74 min         1
84 min    84 min         1
G         G             41
NC-17     NC-17          3
NR        NR            75
PG        PG           287
PG-13     PG-13        490
R         R            797
TV-14     TV-14       1427
TV-G      TV-G         126
TV-MA     TV-MA       2062
TV-PG     TV-PG        540
TV-Y      TV-Y         131
TV-Y7     TV-Y7        139
TV-Y7-FV  TV-Y7-FV       5
UR        UR             3
Name: rating, dtype: int64

In [25]:
#which country has highest no of tv shows.

tv_shows_by_country = df1[df1['type'] == 'TV Show'].groupby('country')['country'].value_counts().sort_values(ascending=False)
tv_shows_by_country.head(1)

country        country
United States  United States    760
Name: country, dtype: int64